body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(173, 15, 15, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}


.food-details h2{
    margin-top: 8px;
    color: skyblue;
    font-weight: 800;
    font-style: italic;
}
.food-details .img-h2{
    text-align: center;
}
input[type=text]{
    width: 60%;
    padding: 12px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box; 
}

#food-container{
    position: relative;
    background: darkgray;
    height: 100vh;
}
.sing-food-item{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sing-food-item img{
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}
.sing-food-item h3{
    text-align: center;
    color: white;
    background-color: gray;
    padding: 10px;
}